# Chapter 11 Time Series

## 11.1 Date and Time Data Type and Tools

In [1]:
from datetime import datetime

In [2]:
now=datetime.now()

In [3]:
now

datetime.datetime(2019, 5, 26, 13, 32, 19, 448228)

In [4]:
now.year, now.month, now.day

(2019, 5, 26)

In [5]:
delta=datetime(2011, 1, 7)-datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
from datetime import timedelta

In [8]:
start=datetime(2011, 1, 7)

In [9]:
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

### Converting Between String and Datetime

In [10]:
stamp=datetime(2011, 1, 3)

In [11]:
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [13]:
value='2018-01-09'

In [14]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2018, 1, 9, 0, 0)

In [15]:
datestrs=['7/6/2011','8/6/2011']

In [16]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
from dateutil.parser import parse

In [18]:
parse('2011-01-09')

datetime.datetime(2011, 1, 9, 0, 0)

In [19]:
parse('Jan 31,1997 10:45 PM')

datetime.datetime(2019, 1, 31, 22, 45)

In [20]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [21]:
datestrs=['2011-07-06 12:00:00','2011-08-06 00:00:00']

In [22]:
import pandas as pd

In [23]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [24]:
idx=pd.to_datetime(datestrs+[None])

In [25]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [26]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 Time Series Basics

In [27]:
from datetime import datetime

In [28]:
dates=[datetime(2011,1,2)
      ,datetime(2011,1,5)
      ,datetime(2011,1,7)
      ,datetime(2011,1,8)
      ,datetime(2011,1,10)
      ,datetime(2011,1,12)]

In [29]:
import numpy as np

In [30]:
ts=pd.Series(np.random.randn(6)
            , index=dates)

In [31]:
ts

2011-01-02   -0.056632
2011-01-05    0.921807
2011-01-07    0.182758
2011-01-08    1.294183
2011-01-10   -0.910778
2011-01-12   -0.028958
dtype: float64

In [32]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [33]:
ts+ts[::2]

2011-01-02   -0.113264
2011-01-05         NaN
2011-01-07    0.365516
2011-01-08         NaN
2011-01-10   -1.821556
2011-01-12         NaN
dtype: float64

In [34]:
ts.index.dtype

dtype('<M8[ns]')

In [35]:
stamp=ts.index[0]

In [36]:
stamp

Timestamp('2011-01-02 00:00:00')

### Indexing, Selection, Subsetting

In [37]:
stamp=ts.index[2]

In [38]:
ts[stamp]

0.18275799258019368

In [39]:
ts.dtype

dtype('float64')

In [40]:
type(ts)

pandas.core.series.Series

In [41]:
ts['1/10/2011']

-0.9107780690961628

In [42]:
ts['20110110']

-0.9107780690961628

In [43]:
longer_ts=pd.Series(np.random.randn(1000)
                   , index=pd.date_range('1/1/2000',periods=1000))

In [44]:
longer_ts

2000-01-01   -1.167859
2000-01-02   -0.421332
2000-01-03    1.689429
2000-01-04    3.071805
2000-01-05   -0.975161
2000-01-06    0.876873
2000-01-07    0.143498
2000-01-08    1.689563
2000-01-09   -0.112464
2000-01-10    0.197987
2000-01-11   -0.577849
2000-01-12    0.277930
2000-01-13   -0.269489
2000-01-14    1.246973
2000-01-15    0.545097
2000-01-16   -0.168931
2000-01-17    0.317693
2000-01-18    1.494468
2000-01-19    0.993195
2000-01-20   -1.550252
2000-01-21   -2.078382
2000-01-22    1.319223
2000-01-23   -0.621428
2000-01-24   -0.248421
2000-01-25   -0.457717
2000-01-26   -0.791048
2000-01-27   -0.095449
2000-01-28   -0.121018
2000-01-29   -0.460624
2000-01-30   -0.002057
                ...
2002-08-28    0.333486
2002-08-29    3.342657
2002-08-30   -0.291295
2002-08-31    0.370391
2002-09-01   -0.547938
2002-09-02   -0.609932
2002-09-03    0.552049
2002-09-04   -0.713964
2002-09-05   -0.151478
2002-09-06   -0.545404
2002-09-07    0.323667
2002-09-08    0.659533
2002-09-09   -0.225144
2002-09-10   -1.429401
2002-09-11    0.148411
2002-09-12    0.969746
2002-09-13   -1.279643
2002-09-14    0.568024
2002-09-15    0.138388
2002-09-16    0.220810
2002-09-17   -2.491458
2002-09-18    0.057300
2002-09-19   -0.278248
2002-09-20    0.261277
2002-09-21    1.402821
2002-09-22   -1.441267
2002-09-23   -0.386065
2002-09-24   -0.234336
2002-09-25    0.264685
2002-09-26   -0.194641
Freq: D, Length: 1000, dtype: float64

In [45]:
longer_ts['2001']

2001-01-01    1.788884
2001-01-02   -0.011887
2001-01-03    0.970950
2001-01-04    0.948996
2001-01-05   -0.450432
2001-01-06    1.575631
2001-01-07   -0.472405
2001-01-08   -0.506633
2001-01-09   -0.495151
2001-01-10    1.019729
2001-01-11   -1.538198
2001-01-12    2.378970
2001-01-13   -1.318391
2001-01-14    0.451187
2001-01-15   -0.438555
2001-01-16   -0.755206
2001-01-17   -0.071229
2001-01-18   -0.179317
2001-01-19   -1.869919
2001-01-20   -0.340048
2001-01-21    0.037113
2001-01-22   -1.274891
2001-01-23    0.127424
2001-01-24   -0.986147
2001-01-25    0.470897
2001-01-26    0.027211
2001-01-27   -1.807125
2001-01-28    0.084174
2001-01-29    0.053614
2001-01-30   -0.238563
                ...
2001-12-02   -0.983614
2001-12-03   -0.526758
2001-12-04   -0.280981
2001-12-05   -0.373320
2001-12-06   -0.012977
2001-12-07   -1.089442
2001-12-08    0.784236
2001-12-09    0.430290
2001-12-10    0.239863
2001-12-11    0.890013
2001-12-12   -0.028479
2001-12-13    2.605494
2001-12-14   -0.173902
2001-12-15    0.189199
2001-12-16   -0.769878
2001-12-17    1.671601
2001-12-18    1.462655
2001-12-19   -0.452765
2001-12-20   -2.026727
2001-12-21   -0.539696
2001-12-22    0.363919
2001-12-23   -0.797075
2001-12-24   -0.792758
2001-12-25   -1.222889
2001-12-26   -0.014325
2001-12-27    0.516089
2001-12-28   -0.250535
2001-12-29    0.840293
2001-12-30   -0.332105
2001-12-31   -0.196907
Freq: D, Length: 365, dtype: float64

In [46]:
longer_ts['2001-05']

2001-05-01   -1.001786
2001-05-02   -0.460924
2001-05-03   -1.672763
2001-05-04   -1.406523
2001-05-05   -0.339030
2001-05-06   -1.551185
2001-05-07    0.473337
2001-05-08   -0.256473
2001-05-09   -0.188165
2001-05-10   -0.578547
2001-05-11    0.786788
2001-05-12   -1.790720
2001-05-13    0.261350
2001-05-14   -0.348751
2001-05-15   -1.344536
2001-05-16   -1.461529
2001-05-17   -0.593943
2001-05-18    0.576709
2001-05-19    1.017336
2001-05-20   -1.302538
2001-05-21    0.594022
2001-05-22    2.097866
2001-05-23    0.334561
2001-05-24    0.687591
2001-05-25   -1.433988
2001-05-26    0.205416
2001-05-27    0.392413
2001-05-28   -1.727375
2001-05-29   -0.926268
2001-05-30   -0.054642
2001-05-31   -0.417896
Freq: D, dtype: float64

In [47]:
ts[datetime(2011,1,7):]

2011-01-07    0.182758
2011-01-08    1.294183
2011-01-10   -0.910778
2011-01-12   -0.028958
dtype: float64

In [48]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.182758
2011-01-08    1.294183
2011-01-10   -0.910778
dtype: float64

In [49]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.056632
2011-01-05    0.921807
2011-01-07    0.182758
2011-01-08    1.294183
dtype: float64

In [50]:
dates=pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [51]:
dates

DatetimeIndex(['2000-01-05', '2000-01-12', '2000-01-19', '2000-01-26',
               '2000-02-02', '2000-02-09', '2000-02-16', '2000-02-23',
               '2000-03-01', '2000-03-08', '2000-03-15', '2000-03-22',
               '2000-03-29', '2000-04-05', '2000-04-12', '2000-04-19',
               '2000-04-26', '2000-05-03', '2000-05-10', '2000-05-17',
               '2000-05-24', '2000-05-31', '2000-06-07', '2000-06-14',
               '2000-06-21', '2000-06-28', '2000-07-05', '2000-07-12',
               '2000-07-19', '2000-07-26', '2000-08-02', '2000-08-09',
               '2000-08-16', '2000-08-23', '2000-08-30', '2000-09-06',
               '2000-09-13', '2000-09-20', '2000-09-27', '2000-10-04',
               '2000-10-11', '2000-10-18', '2000-10-25', '2000-11-01',
               '2000-11-08', '2000-11-15', '2000-11-22', '2000-11-29',
               '2000-12-06', '2000-12-13', '2000-12-20', '2000-12-27',
               '2001-01-03', '2001-01-10', '2001-01-17', '2001-01-24',
               '2001-01-31', '2001-02-07', '2001-02-14', '2001-02-21',
               '2001-02-28', '2001-03-07', '2001-03-14', '2001-03-21',
               '2001-03-28', '2001-04-04', '2001-04-11', '2001-04-18',
               '2001-04-25', '2001-05-02', '2001-05-09', '2001-05-16',
               '2001-05-23', '2001-05-30', '2001-06-06', '2001-06-13',
               '2001-06-20', '2001-06-27', '2001-07-04', '2001-07-11',
               '2001-07-18', '2001-07-25', '2001-08-01', '2001-08-08',
               '2001-08-15', '2001-08-22', '2001-08-29', '2001-09-05',
               '2001-09-12', '2001-09-19', '2001-09-26', '2001-10-03',
               '2001-10-10', '2001-10-17', '2001-10-24', '2001-10-31',
               '2001-11-07', '2001-11-14', '2001-11-21', '2001-11-28'],
              dtype='datetime64[ns]', freq='W-WED')

In [52]:
long_df=pd.DataFrame(np.random.randn(100,4)
                    , index=dates
                    , columns=['Colorado','Texas','New York','Ohio'])

In [53]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.753845  0.442119 -1.301881 -0.778353
2001-05-09 -0.312858  0.263989  1.597766  0.610378
2001-05-16 -0.349948 -0.894780 -0.193879  0.843191
2001-05-23  0.948277  0.060538  1.306819 -0.157394
2001-05-30 -0.222216 -0.837350  0.209493 -0.441735

### Time Series with Duplicate Indices

In [54]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [55]:
dup_ts=pd.Series(np.arange(5)
                , index=dates)

In [56]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [57]:
dup_ts.index.is_unique

False

In [58]:
dup_ts['1/3/2000']

4

In [59]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [60]:
grouped=dup_ts.groupby(level=0)

In [61]:
grouped

In [62]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [63]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3 Date Ranges, Frequencies, and Shifting

In [64]:
ts

2011-01-02   -0.056632
2011-01-05    0.921807
2011-01-07    0.182758
2011-01-08    1.294183
2011-01-10   -0.910778
2011-01-12   -0.028958
dtype: float64

In [65]:
resampler=ts.resample('D')

In [66]:
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

### Generating Date Ranges

In [67]:
index=pd.date_range('2012-04-01','2013,06,01')

In [68]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10',
               ...
               '2012-12-23', '2012-12-24', '2012-12-25', '2012-12-26',
               '2012-12-27', '2012-12-28', '2012-12-29', '2012-12-30',
               '2012-12-31', '2013-01-01'],
              dtype='datetime64[ns]', length=276, freq='D')

In [69]:
index1=pd.date_range('2013-04-01',periods=20)

In [70]:
index1

DatetimeIndex(['2013-04-01', '2013-04-02', '2013-04-03', '2013-04-04',
               '2013-04-05', '2013-04-06', '2013-04-07', '2013-04-08',
               '2013-04-09', '2013-04-10', '2013-04-11', '2013-04-12',
               '2013-04-13', '2013-04-14', '2013-04-15', '2013-04-16',
               '2013-04-17', '2013-04-18', '2013-04-19', '2013-04-20'],
              dtype='datetime64[ns]', freq='D')

In [71]:
index2=pd.date_range(end='2014-04-01',periods=20)

In [72]:
index2

DatetimeIndex(['2014-03-13', '2014-03-14', '2014-03-15', '2014-03-16',
               '2014-03-17', '2014-03-18', '2014-03-19', '2014-03-20',
               '2014-03-21', '2014-03-22', '2014-03-23', '2014-03-24',
               '2014-03-25', '2014-03-26', '2014-03-27', '2014-03-28',
               '2014-03-29', '2014-03-30', '2014-03-31', '2014-04-01'],
              dtype='datetime64[ns]', freq='D')

In [73]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [74]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [75]:
pd.date_range('2012-05-02 12:56:31', periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and Date Offsets

In [76]:
from pandas.tseries.offsets import Hour,Minute

In [77]:
hour=Hour()

In [78]:
hour

In [79]:
four_hours=Hour(4)

In [80]:
four_hours

In [81]:
pd.date_range('2000-01-01','2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [82]:
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')

In [83]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Shifting(Leading and Lagging) Data

In [84]:
ts=pd.Series(np.random.randn(4)
            , index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [85]:
ts

2000-01-31    0.249036
2000-02-29   -1.427790
2000-03-31   -1.576226
2000-04-30    1.121998
Freq: M, dtype: float64

In [86]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.249036
2000-04-30   -1.427790
Freq: M, dtype: float64

In [87]:
ts.shift(-2)

2000-01-31   -1.576226
2000-02-29    1.121998
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [88]:
ts.shift(2,freq='M')

2000-03-31    0.249036
2000-04-30   -1.427790
2000-05-31   -1.576226
2000-06-30    1.121998
Freq: M, dtype: float64

In [89]:
ts.shift(3,freq='D')

2000-02-03    0.249036
2000-03-03   -1.427790
2000-04-03   -1.576226
2000-05-03    1.121998
dtype: float64

In [90]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00    0.249036
2000-02-29 01:30:00   -1.427790
2000-03-31 01:30:00   -1.576226
2000-04-30 01:30:00    1.121998
Freq: M, dtype: float64

#### Shifting dates with offsets

In [91]:
from pandas.tseries.offsets import Day, MonthEnd

In [92]:
now=datetime(2011,11,17)

In [93]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [94]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [95]:
offset=MonthEnd()

In [96]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [97]:
ts=pd.Series(np.random.randn(20)
            , index=pd.date_range('1/15/2000',periods=20, freq='4d'))

In [98]:
ts

2000-01-15    0.682150
2000-01-19   -0.273884
2000-01-23   -0.260681
2000-01-27   -1.828400
2000-01-31    1.466010
2000-02-04   -0.578063
2000-02-08    0.641323
2000-02-12    2.289535
2000-02-16    1.430955
2000-02-20   -2.152076
2000-02-24    0.871597
2000-02-28   -1.688922
2000-03-03    0.828257
2000-03-07    1.504918
2000-03-11    1.333992
2000-03-15   -0.040676
2000-03-19   -0.609879
2000-03-23    0.906287
2000-03-27   -1.349817
2000-03-31    0.178878
Freq: 4D, dtype: float64

In [99]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.042961
2000-02-29    0.116336
2000-03-31    0.343995
dtype: float64

In [100]:
ts.resample('M').mean()

2000-01-31   -0.042961
2000-02-29    0.116336
2000-03-31    0.343995
Freq: M, dtype: float64

## 11.4 Time Zone Handling

In [101]:
import pytz

In [102]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [103]:
tz=pytz.timezone('America/New_York')

In [104]:
tz

### Time Zone Localization and Conversion

In [105]:
rng=pd.date_range('3/9/2012',periods=6,freq='D')

In [106]:
ts=pd.Series(np.random.randn(len(rng))
            , index=rng)

In [107]:
ts

2012-03-09    0.289810
2012-03-10    0.935366
2012-03-11    1.354990
2012-03-12   -0.308067
2012-03-13    1.089366
2012-03-14    0.236048
Freq: D, dtype: float64

In [108]:
ts.index.tz

In [109]:
print(ts.index.tz)

None

In [110]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D',tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [111]:
ts

2012-03-09    0.289810
2012-03-10    0.935366
2012-03-11    1.354990
2012-03-12   -0.308067
2012-03-13    1.089366
2012-03-14    0.236048
Freq: D, dtype: float64

In [113]:
ts_utc=ts.tz_localize('UTC')

In [114]:
ts_utc

2012-03-09 00:00:00+00:00    0.289810
2012-03-10 00:00:00+00:00    0.935366
2012-03-11 00:00:00+00:00    1.354990
2012-03-12 00:00:00+00:00   -0.308067
2012-03-13 00:00:00+00:00    1.089366
2012-03-14 00:00:00+00:00    0.236048
Freq: D, dtype: float64

In [115]:
ts_utc.index

DatetimeIndex(['2012-03-09 00:00:00+00:00', '2012-03-10 00:00:00+00:00',
               '2012-03-11 00:00:00+00:00', '2012-03-12 00:00:00+00:00',
               '2012-03-13 00:00:00+00:00', '2012-03-14 00:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [116]:
ts_utc.tz_convert('America/New_York')

2012-03-08 19:00:00-05:00    0.289810
2012-03-09 19:00:00-05:00    0.935366
2012-03-10 19:00:00-05:00    1.354990
2012-03-11 20:00:00-04:00   -0.308067
2012-03-12 20:00:00-04:00    1.089366
2012-03-13 20:00:00-04:00    0.236048
Freq: D, dtype: float64

In [119]:
ts_eastern=ts.tz_localize('America/New_York')

In [120]:
ts_eastern.tz_convert('UTC')

2012-03-09 05:00:00+00:00    0.289810
2012-03-10 05:00:00+00:00    0.935366
2012-03-11 05:00:00+00:00    1.354990
2012-03-12 04:00:00+00:00   -0.308067
2012-03-13 04:00:00+00:00    1.089366
2012-03-14 04:00:00+00:00    0.236048
Freq: D, dtype: float64

In [121]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 06:00:00+01:00    0.289810
2012-03-10 06:00:00+01:00    0.935366
2012-03-11 06:00:00+01:00    1.354990
2012-03-12 05:00:00+01:00   -0.308067
2012-03-13 05:00:00+01:00    1.089366
2012-03-14 05:00:00+01:00    0.236048
Freq: D, dtype: float64

In [122]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 00:00:00+08:00', '2012-03-10 00:00:00+08:00',
               '2012-03-11 00:00:00+08:00', '2012-03-12 00:00:00+08:00',
               '2012-03-13 00:00:00+08:00', '2012-03-14 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with Time Zone - Aware Timestamp Objects

In [123]:
stamp=pd.Timestamp('2011-03-12 04:00')

In [125]:
stamp_utc=stamp.tz_localize('utc')

In [126]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [128]:
stamp_moscow=pd.Timestamp('2011-03-12 04:00',tz='Europe/Moscow')

In [129]:
stamp_utc.value

1299902400000000000

In [130]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [132]:
from pandas.tseries.offsets import Hour

In [134]:
stamp=pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [135]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [136]:
stamp+Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [137]:
stamp=pd.Timestamp('2012-03-12 02:30:00-0400',tz='US/Eastern')

In [138]:
stamp

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [140]:
stamp+2*Hour()

Timestamp('2012-03-12 04:30:00-0400', tz='US/Eastern')

### Operations Between Different Time Zone

In [141]:
rng=pd.date_range('3/7/2012 9:30', periods=10,freq='B')

In [142]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [143]:
ts

2012-03-07 09:30:00   -0.568511
2012-03-08 09:30:00    0.071526
2012-03-09 09:30:00   -1.042028
2012-03-12 09:30:00    0.354064
2012-03-13 09:30:00    0.719064
2012-03-14 09:30:00   -1.074994
2012-03-15 09:30:00    1.118625
2012-03-16 09:30:00    0.432889
2012-03-19 09:30:00    1.451117
2012-03-20 09:30:00   -0.407053
Freq: B, dtype: float64

In [144]:
ts1=ts[:7].tz_localize('Europe/London')

In [145]:
ts2=ts1[2:].tz_convert('Europe/Moscow')

In [146]:
result=ts1+ts2

In [147]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

## 11.5 Periods and Period Arithmetic

In [149]:
p=pd.Period(2007,freq='A-DEC')

In [150]:
p

Period('2007', 'A-DEC')

In [151]:
p+5

Period('2012', 'A-DEC')

In [153]:
pd.Period('2014',freq='A-DEC')-p

In [154]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='M')

In [155]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [156]:
pd.Series(np.random.randn(6)
         , index=rng)

2000-01   -0.346499
2000-02   -1.223280
2000-03    0.645741
2000-04   -2.155157
2000-05   -0.096592
2000-06   -0.635264
Freq: M, dtype: float64

In [157]:
values=['2001Q3','2002Q2','2003Q1']

In [159]:
index=pd.PeriodIndex(values,freq='Q-DEC')

In [160]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Period Frequency Conversion

In [162]:
p=pd.Period('2007',freq='A-DEC')

In [163]:
p

Period('2007', 'A-DEC')

In [164]:
p.asfreq('M',how='start')

Period('2007-01', 'M')