# 第6章 数据加载、存储与文件格式

In [11]:
import pandas as pd

In [14]:
df=pd.read_csv('C:\\Users\\Jayxi\\Desktop\\222.csv')

In [15]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
pd.read_table('C:\\Users\\Jayxi\\Desktop\\222.csv',sep=',')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
pd.read_csv('C:\\Users\\Jayxi\\Desktop\\333.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [19]:
pd.read_csv('C:\\Users\\Jayxi\\Desktop\\333.csv',names=list('abcd')+['message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
pd.read_csv('C:\\Users\\Jayxi\\Desktop\\333.csv',names=list('abcd')+['message'],index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [21]:
pd.read_csv('C:\\Users\\Jayxi\\Desktop\\333.csv',names=list('abcd')+['message']
            ,index_col=['message','a'])

            b   c   d
message a
hello   1   2   3   4
world   5   6   7   8
foo     9  10  11  12

In [22]:
# read_csv na_values 指定缺失值表示符 可用字典指定各列

### 逐块读取文本文件

In [23]:
pd.options.display.max_rows=10

In [24]:
# nrows= 前几行

In [25]:
# chunker=(行数)

### 将数据写出到文本格式

In [27]:
df.to_csv('C:\\Users\\Jayxi\\Desktop\\111_out.csv')

In [28]:
import sys

In [29]:
df.to_csv(sys.stdout,sep='|')

|a|b|c|d|message
0|1|2|3|4|hello
1|5|6|7|8|world
2|9|10|11|12|foo

In [30]:
# na_rep 指定缺失值的输出样式

In [31]:
# 默认输出标签 index=False header=False

### 处理分隔符格式

In [32]:
import csv

In [33]:
f=open('C:\\Users\\Jayxi\\Desktop\\111_out.csv')

In [34]:
reader=csv.reader(f)

In [35]:
for line in reader:
    print(line)

['', 'a', 'b', 'c', 'd', 'message']
['0', '1', '2', '3', '4', 'hello']
['1', '5', '6', '7', '8', 'world']
['2', '9', '10', '11', '12', 'foo']

In [36]:
with open('C:\\Users\\Jayxi\\Desktop\\111_out.csv') as f:
    lines=list(csv.reader(f))

In [37]:
header,values=lines[0],line[1:]

In [38]:
data_dict={h:v for h,v in zip(header,zip(*values))}

In [39]:
data_dict

{'': ('9', '1', '1', '1', 'f')}

### JSON数据

In [40]:
import json

In [41]:
result=json.loads()

NameError: name 'obj' is not defined

In [42]:
asjson=json.dumps(df)

TypeError: Object of type DataFrame is not JSON serializable

In [ ]:
# 遇到，现查